body {
    background-color: orange;
}

.header {
    font-weight: bolder;
    font-size: 50px;
}

.card-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
}

.card-title {
    font-weight: bolder;
}

.team-heading {
    background-color: #345beb;
}

.employee-card {
    background-color: #345beb;
    box-shadow: 2px 2px 2px 2px black;
}

.list-group-item {
    background-color: #ebb734;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .card-group {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 

@media only screen and (max-width: 760px) {
    .card-group {
        grid-template-columns: 1fr 1fr;
    }
} 

@media only screen and (max-width: 500px) {
    .card-group {
        grid-template-columns: 1fr;
        
    }
} 